.main-part {
        margin-top: 40px;
}

.success-container {
        position: absolute;
        width: 940px;
        height: 600px;
        top: -640px;
        margin-top: 40px;
}

#information-bar {
        padding: 5px;
        background-color: #149bdf;
}

#information-bar span{
        cursor: default;
}

#short-address {
        float:left;
}

#download-link {
        float:right;
}

#preview-container {
        width: 900px;
        height: 400px;
        margin-left: 19px;
        border: 1px #5bc0de dashed;
}

#upload-more-button {
        margin-left: 210px;
}

.slide-container {
        position: absolute;
        width: 800px;
        height: 400px;
        margin-left: 80px;
        margin-top: 80px;
}

.left-wall {
        position: absolute;
        left: 0;
        height: 100%;
        width: 1px;
        box-shadow: 5px 0 5px 2px #000;
        float: left;
}

.right-wall {
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        box-shadow: -5px 0 5px 2px #000;
        float: left;
}

.slide-window {
        margin-top: 20px;
        float: left;
        width: 800px;
        height: 360px;
        overflow: hidden;
}

#myCarousel {
        width:100%;
        height:100%;

}

.page {
        width: 200px;
        height: 360px;
        margin-left: auto;
        margin-right: auto;
}

#file-upload img {
        border: 1px white solid;
}

#file-upload img:hover {
        border: 1px #0088cc dotted;
}